body {
    background-image: url(grocer2.jpg);
    background-repeat: no-repeat;
    // backdrop-filter: grayscale(50);
    background-size: cover;
    padding-bottom: 25px;
}

.maindiv {
    background-image: url(grocer2.jpeg);
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.formdiv {
    background-color: whitesmoke;
    position: relative;
    margin: auto;
    height: 45%;
    width: 90%;
    border: 3px solid black;
    padding: 5px;
    outline: dashed 1px black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
}

.tablediv {
    background-color: whitesmoke;
    position: relative;
    margin: auto;
    height: 45%;
    width: 90%;
    border: 3px solid black;
    padding: 5px;
    //padding-bottom: 25px;
    outline: dashed 1px black;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
}
